/* ======================= Google font =======================*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');



/* ======================= Variables =======================*/
:root{
  --white: #fff;
  --main-red: #00b386;
  --main-blue: #003049;
  --dark-black: #000;
  --light-black: #1a1a1a;
  --light-red: rgba(0, 179, 134, 0.1);
  --lighter-red: rgba(0, 179, 134, 0.1);
  --navbar-scroll: #cbbcb1;
  
  --backdrop-filter-blur: blur(25px);
  --font-family: 'Averia Serif Libre', sans-serif;
  /* --heading-font: 'Playfair Display', serif; */
}

/*======================= Global styles =======================*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::before,
::after{
  box-sizing: border-box;
} 
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--white);
}
a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}
a, span, p, 
h1,h2,h3,
h4, h5,h6,
button, input, 
::placeholder
{
    font-family: var( --font-family);
}
p{
  font-size: 20px;
}
.button__icon{
  font-size: 0.9rem;
  margin-left: 0.5rem;
}


/*======================= Header start =======================*/

/* Scroll top start */
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: var(--main-red);
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;
}
  
.scrolltop:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
  
.scrolltop__icon{
    font-size: 1.4rem;
    color: #FBFEFD;
}
  
/* Show scrolltop */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/* Scroll top end */


/* Navbar start */

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  position: fixed;
  width: 100%;
  z-index: 100;
}
nav .logo img{
  width: 5.5rem!important;
}
nav .logo{
  z-index: 5!important;
}
nav.sticky{
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  padding: 1% 6%;
 
}
nav.sticky .nav-links ul{
  margin-bottom: 0rem;
}
nav.sticky .nav-links ul > li a{
  color: var(--dark-black);
}
nav.sticky .dropdown li a{
  color: var(--dark-black)!important;
}
nav.sticky ul.dropdown-menu.show{
  background: var(--white);
}
.nav-links{
  flex: 1;
  text-align: right;
  z-index: 5!important;
}
.nav-links ul > li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul > li a{
  color: var(--white);
  text-decoration: none;
  font-size: 19px;
}
.dropdown li a{
  color: var(--white)!important;
  padding: 0px!important;
  font-size: 19px;
}
ul.dropdown-menu.show{
  padding: 0px!important;
  background: var(--light-black);
}
.nav-links ul li a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: var(--main-red);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li a:hover::after{
  width: 100%;
  cursor: pointer;
}

nav .fas,
nav .fab{
  display: none;
}


@media(max-width: 1000px){
  .nav-links ul > li{
    display: block;
  }
  .nav-links{
      position: fixed;
      background: var(--light-black);
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      padding-left: 20px;
      z-index: 60!important;
      transition: 1s;
  }
  nav .fas,
  nav .fab{
    display: block;
    color: var(--white);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  nav .fa-bars{
    z-index: 5;
    font-size: 26px!important;
    color: var(--main-red);
  }
  .nav-links ul{
      padding: 30px;
  }
  nav.sticky .nav-links ul > li a{
    color: var(--white);
  }
}


@media screen and (max-width: 500px){
  nav .logo{
    width: 3rem!important;
  }
 
  
}

/* Navbar end */

/* Bannner start */
.banner{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner video{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.banner .content{
  position: relative;
  z-index: 3;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.banner .content h1{
  margin: 0;
  padding: 0;
  font-size: 3em;
  text-transform: uppercase;
  color: var(--main-red);
  font-weight: bolder;
}
.banner .content p{
  padding-top: 35px;
  font-size: 1.3em;
  color: #fff;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5); 
  z-index: 2;
}
/* Banner end */
/*======================= Header end =======================*/


/*======================= About start =======================*/

.about h1,
.service h1,
.equipments h1,
.restuarant h1,
.about_banner h1,
.restuarant-pg h1,
.restuarant-booking h1,
.prog-includes h1,
.meet-the-team h1
{
  color: var(--dark-black);
  font-family: var(--font-family);
  font-weight: 400;
}
.about_banner h1{
  color: var(--white);
}



.my-btn{
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  margin-left: 0px;
  height: 45px;
  text-align: left;
  border: none;
  border-radius: 50px;
  background-color: var(--main-red);
  transition: 0.5s;

}
.my-btn:hover a{
  color: #fff;
}
.my-btn:hover {
  background-color: #000;
}
i.dir-arrow{
  padding-left: 0.3rem;
  padding-top: 0.3rem;
}
.centered-btn{
  display: flex;
  justify-content: left;
  align-items: left;
}
.about-img{
  background-image: url("../img/1.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}  
.service-img2{
  background-image: url("../img/13.webp");
}
.service-img3{
  background-image: url("../img/17.jpeg");
}
.service-img4{
  background-image: url("../img/16.jpeg");
}
.service-img5{
  background-image: url("../img/20.jpeg");
}

@media screen and (max-width: 1000px){
  .about .row > div{
    width: 100%!important;
    padding-top: 0rem!important;
    text-align: center;
  }
  .centered-btn{
    justify-content: center;
 
  }
  .about-img{
    display: none;
  }
 
  
}


/*======================= About end =======================*/


/*======================= Equipment start =======================*/

.slider-container div img{
  width: 90%;
  border-radius: 20px;
}
@media(max-width: 992px){
  .slider-container li{
    width: 100%!important;
  }
  .slider-container div img{
    width: 100%!important;
}
}
@media(max-width: 1000px){
  .equipments h1{
    margin-top: 0rem!important;
}
}

/*======================= Equipment end =======================*/

/*======================= Service start =======================*/
.service .card{
  text-align: center;
  border: none;
  outline: none;
  background: var(--lighter-red);
  border-radius: 20px;
  /* box-shadow: none; */
}
.service .card p{
  color: var(--dark-black);
  font-size: 18px;
}
.circle{
  height: 70px;
  width: 70px;
  background: var(--light-red);
  color: var(--dark-black);
  padding: 12px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 30px;
  border-radius: 50%;
}
.circle{
  position: relative;
  top: -30%;
}
.service .card:hover .circle{
  background: var(--light-black);
  color: var(--white);
  transition: 0.5s;
  cursor: pointer;
}

.service .circle i{
  font-size: 50px;
  color: var(--main-red)

}
.service .card:hover i{
  color: var(--white);
}
@media screen and (max-width: 575px){
  .service .row{
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media screen and (max-width: 390px){
  .service .row{
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
/*======================= Service end =======================*/

/*======================= footer section starts =======================*/
footer{
  color: #ccc;
  background: linear-gradient(rgba(0, 0, 0, 0.82),rgba(0, 0, 0, 0.87));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


}
footer .logo{
  width: 5rem!important;
}

footer p{
  line-height: 2.3;
  font-size: 17px!important;
  text-align: left!important;
}
footer h4{
  color: var(--white);
}

footer i{
  color:  var(--main-red);
  font-size: 20px;
  transition: 0.3s ease;
}
footer i:hover{
  color: #fff;
}
footer ul li{
  list-style-type: none;
}
footer .inner{
  padding-left: 50px;
}
.footer-links > li a{
  color: #ccc!important;
  font-style: normal;
  font-size: 17px;
  line-height: 2;
}
.footer-links > li a:hover{
  color:  var(--main-red)!important;
}

.footer > div > div > div:nth-child(2) div{
  padding-right: 30px;
}
.footer-bottom{
  color: #999;
  padding-top: 20px;
  border-top: 1px solid rgb(90, 89, 89);
  margin-top: 10px;
}
.footer-bottom > p{
  text-align: center!important;
}
footer .dropdown-content a{
  color: #000!important;
}

@media screen and (max-width: 767px){
  footer .container{
      margin: 0;
  }
  footer .col-xl-5,
  footer .col-xl-3,
  footer .col-xl-4{
      width: 100%!important;
  }
}
@media screen and (max-width: 575px){
  footer .container{
    width: 100%!important;
  }
  footer .inner{
      padding-left: 20px;
  }
  footer .logo{
    width: 3rem;
  }
  footer p{
    line-height: 2;
    font-size: 16px!important;
  }
  .footer-links li a{
    font-size: 16px!important;
  }

}


ol, ul{
  padding-left: 0rem!important;
}


/*=======================  footer section ends =======================*/


/*============================  home page ends ==============================*/

/*============================  about page start ==============================*/
.about_banner{
  background: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 40vh;
}
.contact_banner{
  background: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(../img/contact.webp);
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
}
.n_header{
  height: 0;
}

/* ===== meet the team start=====*/
.meet-the-team h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
ol{
    counter-reset: li; 
    list-style: none; 
    padding: 0;
  }
  
  ol span {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    
    color: #000;
    text-decoration: none;
    transition: all .3s ease-out;
  }
  
  ol span:hover {
    background: linear-gradient(
        180deg
        , #f2f6fa 0%, #fff 100%);
      color: #000;
    } 
          
  ol span:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background:  var(--main-red);
    color: white;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
  }
  
  ol span:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
  }
  
  ol span:hover:after {
    left: -.5em;
    border-left-color:  var(--main-red);
    
  }
  .meet-the-team > div{
      padding-left: 100px!important;
      padding-bottom: 40px;
  }
  .meet-the-team .row div{
      margin-bottom: 0em!important;
  }
  @media (max-width: 1000px){
    .meet-the-team > div{
        padding-left: 50px!important;
    }
    ol span{
      text-align: left;
    }
 }
 @media (max-width: 800px){
    .meet-the-team > div{
        padding-left: 20px!important;
    }
 }
 @media (max-width: 750px){
    .meet-the-team > div{
        padding-left: 0px!important;
    }
 }
  @media (max-width: 767px){
    .meet-the-team .container{
        padding-left: 0;
    }
 }
 @media (max-width: 450px){
    .meet-the-team ol span {
        font-size: 13px!important;
    }
 }
 
/* ===== meet the team end=====*/

/*============================  about page end ==============================*/

/* ==== contact page start ==== */

.contact-pg label{
  font-weight: 600;
  color: var(--dark-black);
}
.booking-form,
.contact-pg .card{
  border-radius: 20px;
}

.contact-pg .form-control{
  height: 52px;
  background: #fff !important;
  color: #000000 !important;
  font-size: 16px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.contact-pg textarea.form-control{
  height: 100px!important;
}
.contact-pg .select-wrap{
  position: relative;
}
.contact-pg .icon{
  position: absolute;
  top: -80% !important;
  right: 20px;
  font-size: 14px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.7);
}
.contact-pg .map{
  margin: auto;
}
.contact-pg .map iframe{
  width: 100%;
  border: none;
}
.contact-pg .la{
    font-size: 20px;
    margin-bottom: 25px;
    background-color: var(--main-red);
    color: var(--white);
    width: 2.275rem;
    height: 2.275rem;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}
.contact-pg .laa{
  color:  var(--main-red);
  font-size: 20px;
  transition: 0.3s ease;
}
.contact-pg .card-text span{
  font-size: 25px;
}
@media screen and (max-width: 767px){
  .contact-pg .contact-info{
    margin-top: 3rem;
  }
}
/* ==== contact page end ==== */




